@model IEnumerable<ArtisanMarketplace.Models.UserFeed>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetRangeMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetRangeMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalDocuments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DislikesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFeatured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFlagged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetRangeMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetRangeMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalDocuments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DislikesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFeatured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFlagged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
