@model IEnumerable<ArtisanMarketplace.Models.ArtisanProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsOfExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalReviews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedProjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRadius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicesOffered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerificationDocuments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsOfExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalReviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedProjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceRadius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesOffered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerificationDocuments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
